h1 {
    font-size: em;
}

Header {
    font-size: 2em;
}

.nav-items {
    list-style: none;
    display: flex;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items>li {
    padding: 10px;
}

.nav-logo {
    width: 100px
}